.imagem__inicio {
  margin: 0 auto;
  display: block;
  width: 80%;
}

@media  screen and (min-width: 768px) {
  .imagem__inicio {
    width: 60%;
  }

} 

@media  screen and (min-width: 963px) {
  .imagem__inicio {
    width: 40%;
  }

} 



