.secao__inicio {
  padding-bottom: 0;
}

.container--inicio {
  height: 100vh;
  padding-top: 6rem;
}

@media  screen and (min-width: 963px) {
  .container--inicio {
    display: flex;
    align-items: center;
    padding-top: 8rem;
  }
  
} 



