.secao__inicio {
  padding-bottom: 0;
}

.container--inicio {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media  screen and (min-width: 963px) {
  .container--inicio {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 8rem;
  }
  
} 



