.secao__inicio {
  height: 100vh;
}

@media  screen and (min-width: 963px) {
  .conteudo__inicio--pandemia { 
    display: flex;   
    justify-content: center;
    gap: 2rem;
    align-items: flex-end;

  }
  
} 



