.titulo--inicio {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 2rem;
  padding-top: 5rem;
}

.texto--inicio {  
  text-align: center;
  padding-bottom: 3rem;    
}


@media  screen and (min-width: 768px) {
  .titulo--inicio{
    text-align: center;
    font-size: 3rem;    
    padding-bottom: 3rem;
    
  }

  .textos__inicio {   
    align-items: center;    
  }

}

@media  screen and (min-width: 963px) {
  .textos__inicio { 
    display: flex; 
    justify-content: space-between; 
    align-items: flex-end; 
      
    padding-bottom: 0;  
  }
  
  .titulo--inicio{
    text-align: left;
    font-size: 3rem;
    padding-top: 0;
  }
  
  .texto--inicio {  
    text-align: left;
    width: 50%;    
  }
  
} 
