.titulo--inicio {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 2rem;
  padding-top: 5rem;
}
.texto--inicio {  
  text-align: left;
  padding-bottom: 1rem;    
}


@media  screen and (min-width: 768px) {
  .textos__inicio {   
    align-items: center;    
  }
  .titulo--inicio{
    text-align: center;
    font-size: 3rem;    
    padding-bottom: 2rem;
  }
  
  .texto--inicio {  
    text-align: left;
    margin-bottom: 1.5rem; 
  }
}

@media  screen and (min-width: 963px) {
  .textos__inicio {    
    width: 70%;    
  }
  
  .titulo--inicio{
    text-align: left;
    font-size: 5rem;
  
  }
  
  
  
} 
