.titulo--brasil {
  margin-bottom: 2.875rem;
  width: 12em;
}

.texto--brasil {
  margin-bottom: 2.875rem;
}

.titulo--mapa--brasil {
  font-size: 1.125rem;
  margin: 0 auto 2.875rem;
  text-align: center;
  width: 20em;
}

@media screen and (min-width: 768px) {
  .titulo--brasil {
    margin-bottom: 3rem;
  }
  
  .texto--brasil {
    margin-bottom: 5rem;
  }
  
  .titulo--mapa--brasil {
    margin-bottom: 3rem;
    width: 100%
  }  
  
}

@media screen and (min-width: 963px) {
  .titulo--brasil {
    margin-bottom: 5rem;
  }
  
  .texto--brasil {
    margin-bottom: 8rem;
  }
  
  .titulo--mapa--brasil {
    font-size: 2.25rem;
    margin-bottom: 4rem;
    width: 100%
  }  
  
}
