html {
  scroll-behavior: smooth;
}

body, html {
  overflow-x:hidden;
}

:root {
  
  /*cores*/
  --cor1: #003049;
  --cor2: #D62828;
  --cor3: #F77F00;
  --cor4: #FCBF49;
  --cor5: #EAE2B7;

  /*fontes*/
  --fonte-titulo: Rubik, sans-serif;
  --fonte-texto: Rubik, sans-serif;
  --fonte-texto-destaque: Rubik, sans-serif;
}

.titulo {
  font: 500 1.25rem var(--fonte-titulo);
  color: var(--cor3);
}

.texto {
  font: 400 1rem var(--fonte-texto);
  color: #000;
}

.texto--destaque {
  font: 400 1rem var(--fonte-texto-destaque);
  color: var(--cor1);
}

.secao {
  border-bottom: 1px solid var(--cor5);
  padding-bottom: 2.875rem;
}

@media screen and (min-width:768px) {
  .secao {
    padding-bottom: 5rem;
  }
}

@media screen and (min-width:963px) {
  
  .titulo {
    font-size: 2.75rem;
  }
  
  .texto {
    font-size: 1.5rem;
  } 

  .texto--destaque {
    font-size: 1.875rem;
  }
}
