.header {
    align-items: center;
    background: var(--cor5);
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    padding: 25px 70px;
    position: fixed;
    width: 100%;
    margin: 0;
}

.container--header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0;
    height: 8rem;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .header {
        margin: 0;
        justify-content: space-between;
    }
}