.secao__inicio {
  margin-top: 5rem;
}
.conteudo__inicio {
  display: flex;
  justify-content: space-between;
  align-items: top; 
  gap: 2rem; 
}

.textos__inicio {
  width: 40rem;
  height: 40rem;  
}

.titulo--inicio {
  margin-bottom: 1.5rem;
  font-size: 3rem;
}

.texto {  
  margin-bottom: 1.5rem; 
}

.imagem__inicio {
  width: 30rem;
  height: 25rem;
}

.titulo__grafico {
  width: 80%;
  text-align: center;
  margin: 5rem auto; 
  font-size: 2.25rem;  
}

.conteudo__grafico {
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5rem;
  
}

.texto__grafico--inseguranca {
  width: 30rem;
  height: auto;
}

.grafico--inseguranca {
  width: 28rem;
  height: auto;
}