.titulo--acoes {
  margin-bottom: 2.875rem;
}

.texto--acoes {
  margin-bottom: 2.875rem;
}

.texto--destaque--acoes {
  text-align: center;
  width: 15rem;
  margin: 0 auto 2.875rem;
}

@media screen and (min-width:768px){
  .titulo--acoes {
    margin-bottom: 3rem;
  }

  .texto--acoes {
    margin-bottom: 3rem;
  }
  
  .texto--destaque--acoes {
    width: 25rem;
    margin: 0 auto 3rem;
  }
}

@media screen and (min-width:963px){
  .titulo--acoes {
    margin-bottom: 5rem;
  }

  .texto--acoes {
    margin-bottom: 5rem;
  }

  .texto--destaque--acoes {
    width: 34rem;
    margin: 0 auto 5rem;
  }
}