.titulo--maranhao {
  margin-bottom: 2.875rem;
  width: 12em;
}

.texto--maranhao {
  margin-bottom: 1.5em;
}

.maranhao__dados {
  margin-bottom: 2.875rem;
}

.dados__texto {
  margin-bottom: 2.875rem;
}

.rendimentoCor__dados {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2.875rem;
  margin-top: 2.875rem;
}
.rendimentoCor__dados .texto--destaque{
  width: 15rem;
}

@media screen and (min-width:768px){
  .titulo--maranhao {
    margin-bottom: 3rem;
  }

  .maranhao__dados {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 3rem;
  }

  .dados__imagem {
    width: 381px;
    height: 374px;;
  }

  .dados__texto {
    margin-bottom: 0;
  }

  .maranhao__rendimentoCor {
    display: flex;
    justify-content: space-between;
  }
  
  .rendimentoCor__dados {
    width: 47%;
    justify-content: space-between;
    gap: 3;
    margin: 0;
  }

  .rendimentoCor__dados .texto--destaque{
    width: 100%;
  }
}

@media screen and (min-width: 963px) {
  .titulo--maranhao {
    margin-bottom: 5rem;
  }

  .maranhao__dados {
    gap: 2.5rem;
    margin-bottom: 8rem;
  }

  .dados__imagem {
    width: 478px;
    height: 483px;;
  }

  .rendimentoCor__dados {
    gap: 5rem;
  }

}

