.titulo--solucoes {
  margin-bottom: 2.875rem;
}

.texto--solucoes {
  margin-bottom: 1.5em;
}

.listaSolucoes {
  background: var(--cor5);
  padding: 2rem 1.5rem;
  border-radius: 30px;
  display: grid;
  grid-template-rows: repeat(6, auto);
  gap: 1rem;
  margin-bottom: 2.875rem;
}

.listaSolucoes__solucao {
  display: flex;
  align-items: center;
}

.listaSolucoes__imagem {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 1rem;
}

.texto--listaSolucoes {
  color: var(--cor1);
}

@media screen and (min-width:768px){
  .titulo--solucoes {
    margin-bottom: 3rem;
  }

  .listaSolucoes {
    padding: 3rem 2rem;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    gap: 1.5rem;
    margin-bottom: 3rem;
  }

  .listaSolucoes__imagem {
    width: 50px;
    height: 50px;
    margin-right: 1.5rem;
  }
}

@media screen and (min-width:963px){
  .titulo--solucoes {
    margin-bottom: 5rem;
  }

  .texto--solucoes {
    margin-bottom: 3em;
  }

  .listaSolucoes {
    padding: 4rem 3rem;
    gap: 2rem;
    margin-bottom: 5rem;
  }

  .listaSolucoes__imagem {
    width: 75px;
    height: 75px;
    margin-right: 1rem;
  }
  

}